body{
    margin: 0px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
.content{
    display: flex;
    background-color: lightgray;
}
.site-title{
    display: flex;
    align-items: center;
}
.logo{
    width: 5rem;
}
.search-bar{
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.home-button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1rem;
}
.title{
    text-align: center;
}

.article{
    display: flex;
    justify-content: center;
}

.article-container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 1.5rem;
    border-radius: 1rem;
    width: 20rem;
    padding: 1rem;
}
.article-image{
    width: 20rem;
    box-shadow: black;
}

.next-page-button{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
.button-style{
    width: 25%;
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: lightgray;
    color: white;
}

.button-style:hover{
    background-color: black;
}
.pre-footer{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
.credit{
    display: flex;
    flex-direction: column;
    width: 25%;
    color: black;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.inputs-fields{
    display: flex;
    justify-content: center;
}
#myData{
    display: flex;
    flex-direction: column;
    align-items: center;
}
select{
    margin-left: 5px;
}
#search_box3{
    margin-left: 5px;
}
/* div\.costs{
} */